// .card-wrapper {
//   display: flex;
//   width: 100%;
//   justify-content: center;
//   align-items: center;
// }
.card {
  background: hsla(217, 19%, 24%, 1);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  box-shadow: 30px 50px 80px 0px hsla(0, 0%, 0%, 0.1);
  border-radius: 10px;
  padding: 1.5rem 1rem 5rem 1rem;
  text-align: center;
  position: relative;

  @media (min-width: 380px) {
    max-width: 550px;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

h1 {
  color: hsla(193, 38%, 86%, 1);
  font-weight: 800;
  font-size: 28px;
  line-height: 38.25px;
  margin-bottom: 2.5rem;
}

h4 {
  color: hsla(150, 100%, 66%, 1);
  text-transform: uppercase;
  font-weight: 800;
  font-size: 13px;
  line-height: 17.76px;
}

.desktop-divider {
  display: none;

  @media (min-width: 380px) {
    display: block;
  }
}

.mobile-divider {
  @media (min-width: 380px) {
    display: none;
  }
}

.btn {
  background-color: hsla(150, 100%, 66%, 1);
  border-radius: 50%;
  border: none;
  aspect-ratio: 1;
  padding: 1rem;
  position: absolute;
  bottom: -31px;

  &:hover,
  &:active {
    box-shadow: 0 0 15px 20px hsla(150, 100%, 66%, 0.2);
  }
}
