@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

$font-family: 'Manrope', sans-serif;

/* Box sizing */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 1rem;
  font-family: $font-family;
  background-color: hsla(219, 22%, 16%, 1);
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  // font-weight: 800;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
